.purchase-confirm {
    max-width: 960px;
    margin: 40px auto;
    padding: 0 20px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

.purchase-main {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.purchase-left {
    flex: 1;
    min-width: 300px;
}

.purchase-right-with-button {
    flex: 1;
    min-width: 300px;
    display: flex;
    flex-direction: column;
}

.purchase-right {
    padding: 20px;
    border-radius: 10px;
}

.product-info {
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 20px;
    padding-bottom: 20px;
}

.product-info img {
    width: 160px;
    height: 160px;
    object-fit: contain;
    border-radius: 4px;
}

.product-text p {
    margin: 6px 0;
    font-size: 1.1rem;
}

.purchase-box {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.purchase-heading-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.purchase-heading {
    font-size: 1.3rem;
    color: #000;
}

#payment_method {
    width: 100%;
    padding: 8px 12px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.purchase-summary-box {
    background-color: #fafafa;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.purchase-summary-item {
    padding: 16px 20px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.purchase-summary-item:last-child {
    border-bottom: none;
}

.purchase-summary p {
    font-size: 1.1rem;
    margin: 0;
    padding: 12px 0;
    border-bottom: 1px solid #ddd;
}

#selected-method {
    font-weight: bold;
    color: #000;
}

.purchase-button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.purchase-button-container form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.purchase-button {
    background-color: red;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
}

.purchase-button:hover {
    background-color: #b40027;
}


@media (max-width: 850px) {
    .purchase-main {
        flex-direction: column;
    }

    .product-info {
        flex-direction: column;
        align-items: flex-start;
    }

    .product-info img {
        width: 100%;
        height: auto;
    }

    .purchase-button-container {
        text-align: center;
    }
}

@media (min-width: 1400px) and (max-width: 1540px) {
    .purchase-confirm {
        max-width: 1100px;
    }

    .product-info img {
        width: 180px;
        height: 180px;
    }
}